.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px -4px 4px rgba(0, 0, 0, 0.5);

    h1 {
        text-align: center;
    }

    .message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.message-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px -4px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.add-message-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px -4px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h3 {
            text-align: center;
        }

        label {
            font-weight: 800;
            letter-spacing: 2px;
        }

        input {
            width: 100%;
            padding: 10px 10px;
            border-radius: 10px;
        }

        .input-field {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);

    .pagination-controls {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

/* Media Queries */

@media (max-width: 915px) {
    .main-content {
        width: 100%;
        overflow-x: auto;
        flex-wrap: wrap;
        gap: 10px;
        .message {
            flex-direction: column;
        }
    }

    .message-options {
        padding: 20px;
        border-radius: 5px;

        .button-container {
            display: grid;
            grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
            gap: 5px;
            
        }
    }
    
    .pagination, .pagination-controls {
      width: 100%;
      
      .pagination-controls > button {
        width: 100%;
      }
     
      .pagination-controls > h3 {
        text-align: center;
        width: 100%;
      }
    }
}