.message-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0;    

    th, td {
        border: 1px solid var(--secondary-color);
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: var(--primary-color);
        text-align: center;
        font-weight: bold;
        border: 1px solid var(--secondary-color);
    }
    

  
    tr:nth-child(even) {
        background-color: var(--primary-color);
    }

    tr > td:last-child > .button-options {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    
}

/* Media Queries */

/* For screens smaller than 480px */
@media (max-width: 480px) {
   
    .message-table {

        th, td {
            font-size: 0.8rem;
            padding: 5px;
        }

        tr > td:last-child > .button-options {
            flex-direction: column;
            gap: 5px;
        }
    }
}